node_modules/
.next/
out/
build/
dist/
.env.local
.env.*.local
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo
*~
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
coverage/
.turbo/
